* text eol=lf
*.bat           text eol=crlf
*.sh            text eol=lf
*.png			binary
*.ico			binary
*.jpg			binary
*.jpeg			binary
*.icns			binary
*.gif			binary
*.bmp			binary
*.tif			binary
*.tiff			binary
*.webp			binary
*.avif			binary
*.wasm			binary
*.ttf			binary
*.otf			binary
*.icc			binary
